.container {
    width: 100%;
    display: grid;
    place-items: center;
}

.learnerTable {
    background-color: rgba(238,238,255, 0.4);
    padding: 0.2rem 1rem;
    border-radius: 8px;
    border: solid 0.3rem lightpink;
}
.learnerTable tr {
    border-radius: 8px;
}
.learnerTable td, th {
    padding: 0.1rem 1rem;
    border-radius: 8px;
}
.rightAnswer {
    background-color: lightgreen;
}
.wrongAnswer {
    background-color: #f04360;
}

.learnerTable button {
    background-color: lightgray;
}

.plainCell {

}
