.grayBox {
    border: solid 0.1rem darkgray;
    border-radius: 8px;
    overflow-wrap: anywhere;
    margin: 0.3em 0;
}

@media screen and (min-width: 1200px) {
    .grayBox {
        max-width: 30rem;
    }
}
