.button {
    width: 100%;
    border: 1px solid lightgray;
    margin: 0.3em 0;
}

.borderRadius {
    border-radius: 8px;
}

@media screen and (min-width: 1200px) {
    .form {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 5% 10%;
    }
    .form .leftDiv {
        margin: 0 5em;
        min-width: 40em;
    }
    .grayBoxP {
        width: 25em;
    }
}



