.form {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 10%;
}

.myButton {
    width: 100%;
    border: 1px solid lightgray;
}



.form .leftDiv {
    margin: 5rem;
}
