#root {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

@media screen and (min-width: 1200px) {
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
}

